.home-img-div{
	position: relative;
}

.home-img-div #quote{
	position: absolute;
	max-width: 350px;
	top: 10%;
	left: 5%;
	color: white;
	z-index: 2;
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0, 0.4);
	z-index: 1;
}

.authors_container{
	margin-top: 10%;
	margin-left: 3%;
	margin-right: 20%;
}
.add_author_form_div{
	margin-top: 8%;
	margin-left: 5%;
}
.authors_container,{
	margin-left: 3%;
	margin-right: 20%;
}
#addAuthorButton{
	position: relative;
	margin-left: 3%;
}
.img-insert-success-div{
	margin-top: 10%;
	margin-left: 50%;
}
.success-label{
	margin-top: 5%;
	margin-left: 45%;
	
}
.add_book_form_div{
	margin-top: 8%;
	margin-left: 5%;
	position: absolute;
}
.add_book_button{
	position: relative;
	margin-top: 30px;
}

.books_container{
	margin-left: 3%;
	margin-right: 20%;
	margin-top: 15%;
}
.book_img{
	width: 10%;
}
.book_img_td{
	width: 10%;
	padding-right: 0%;
}
#img_book_add{
	width: 35%;
	height: 35%;
	background-color: rgb(200,200,200);
	margin-left: 25%;
}
.textField{
	display: inline-block;
	white-space: nowrap;
}
.dropdown_gender{
	margin-left: 35%;
}